.basicButton {
	background-color: #06b4ad;
	padding: 0.2rem 2rem;
	font-size: 1.1rem;
	border-radius: 0.2rem;
	border: 0.15rem solid rgb(14, 14, 14);
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 0.2rem;
	width: 100%;
}

.highlighted {
	background-color: #70f8f2 !important;
}

.big {
	padding: 0.8rem 2rem;
}

.fitContent {
	width: fit-content;
}
