.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-content: center;
	column-gap: 0.5rem;
	margin-bottom: 0.3rem;
}

.count {
	border: 2px black solid;
	width: 125px;
	height: 95px;
	border-radius: 10px;
	background-color: #00b1aa;
	font-size: large;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
}

.category-container {
	border: 2px black solid;
	align-items: center middle;
	width: 125px;
	height: 125px;
	border-radius: 10px;
	background-color: #00b1aa;
	margin: 1%;
	font-size: large;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-content: center;
}

.selected {
	background-color: rgb(158, 142, 51) !important;
}

.thema-container {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #64ccc5;
	text-align: bottom center;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	justify-content: center;
}

.thema {
	width: 50px;
	height: 50px;
}

.footer {
	margin-top: min(200px, 5%);
}

@media screen and (max-height: 800px) {
	.category-container {
		width: 105px;
		height: 105px;
		font-size: 0.95rem;
	}
	.thema {
		width: 30px;
		height: 30px;
	}

	.thema-container {
		width: 50px;
		height: 50px;
	}
}
